video {
    width: 100%;
    height: auto;
    border-radius: 8px;
    background-color: black;
    margin-top: 10px;
}

button {
    display: block;
    width: 100%;
    margin-top: 10px;
}

audio {
    width: 100%;
    margin-top: 10px;
}
